$centered: center;
$leftalign: left;
$textSize: 20px;
$font: Arial, Helvetica, sans-serif;
$subheading2color: red;
$subheading2fontsize: 20px;
$blueButtonColor: #4d90fe;
$blueButtonText: white;

/*-- Background style */
    @media (min-width: 600px) {
        body {
            background-color: white;
            text-align: $leftalign;
            text-size-adjust: $textSize;
            font-family: $font
        }
    }

    @media (max-width: 599px) {
        body {
            background-color: lavender;
            text-align: $centered;
            font-family: $font;
        }
    }

    /* Image style */
    div.image {
        text-align: center;
        padding: 5%;
        border: 0px;
        margin: 2px;
    }

    /* Advanced search header style */
    #subheading2 {
        color: $subheading2color;
        font-size: $subheading2fontsize;

    }

    /* main search button */
    #mainSearch {
        text-align: $centered;
    }

    /* Menu */
    #grid {
        background-color: rgb(255, 255, 255);
        display: grid;
        padding: 5px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        grid-template-columns: 150px auto 100px 200px;
        text-align: $centered;
    }

    .grid-item {
        background-color: white;
        font-size: 20px;
        padding: 5px;
        font-family: $font;
    }

    /* Advanced search styling */
    #AdvSrchButton {
        background-color: #4d90fe;
        color: $blueButtonText;
        font-size: 11px;
        font-weight: bold;
        text-align: center;
        border-radius: 2px;
        padding-inline: 6px;
        padding: 0 12px;
        height: 27px;
        margin: 10px;
        border: 1px solid #3079ed;
        float:inline-start;
        min-width: 54px;
    }
    #AdvSrchButton:hover {
        background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    }

    /* Advanced search header style */
    div.subheading2 {
        color: #d93025;
        font-size: 20px;
        margin: 25px 35px;
    }

    /* Spacing for different advanced searches */
    div.separated {
        max-width: 1140px;
        min-width: 200px;
        width: 96%;
        margin: 40px 2% 0 45px;
    }